.navbar {
  background-color: rgb(252, 252, 252);
  color: rgb(20, 20, 20);
  height: 88px;
  width: 96%;
  padding: 0px 36px;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgb(222, 222, 222);
}

.navbar-logo {
  width: 320px;
  height: fit-content;
}
